
    h1 {
    text-align: center;
    }
    h2 {
    text-align: center;
    border: 2px solid black;
    outline-style: solid;
    outline-color: red;
    }

    body {
        margin: 8px; 
        display: block;
    }
    #mainHeading {
        color: red;
    }

    .funParagraph {
        color:green;
    }
